html {
  font-size: 62.5%;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  font-size: 1.6rem;
  color: #000;
}

header {
  border-bottom: 0.2rem solid #18453b;
}

nav {
  text-align: right;
}

nav a:link {
  font-size: 1.8rem;
  font-weight: bold;
  color: #18453b;
  text-decoration: none;
}

nav a:visited {
  color: #18453b;
}

nav a:hover {
  color: #008208;
  text-decoration: underline;
}

nav a:active {
  color: #7bbd00;
  text-decoration: underline;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #18453b;
  font-size: 1.2rem;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  color: #18453b;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

a:link {
  color: #008208;
  text-decoration: none;
}

a:visited {
  color: #008208;
}

a:hover {
  color: #cb5a28;
  text-decoration: underline;
}

a:active {
  color: #f08521;
  text-decoration: underline;
}

code {
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

pre code {
  display: inline-block;
  min-width: 97%;
  padding: 0.8rem;
}

blockquote {
  background-color: #eee;
  color: #333;
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  margin: 0;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  font-style: italic;
}

article .header {
  font-size: 1.4rem;
  color: #555;
}

.email {
  font-family: monospace;
  border: none;
  padding: 0;
}

.logo a:link {
  font-weight: bold;
  color: #18453b;
  text-decoration: none;
}

.logo a:visited{
  color: #18453b;
}

.logo a:hover{
  color: #008208;
  text-decoration: underline;
}

.logo a:active{
  color: #f08521;
  text-decoration: underline;
}

.nav a {
  color: #18453b;
}

.photo {
  height: 16rem;
  float: right;
  margin-left: 2rem;
  margin-bottom: 2rem;
  border-radius: 3%;
}

.post-list {
  font-size: 1.8rem;
  padding: 0;
  list-style: none;
}

.post-list  li {
  margin-bottom: 3rem;
}

.post-meta {
  font-size: 1.4rem;
  color: #555;
}

.subscribe {
  text-align: right;
  margin-bottom: 3rem;
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 80rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: center;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}
