/* Body */
body {
  font-family: "PT Serif", serif;
  font-size: 11pt;
  line-height: 175%;
  margin: 5% 25% 5% 25%;
}

/* Headings */
h1, h2, h3, h4, h5 {
  font-family: "PT Sans", sans-serif;
  line-height: 120%;
}

/* Blog stuff */
.blog_title, .blog_subtitle {
  color: silver;
  text-align: right;
}

.blog_subtitle, .date {
  margin-top: -15px; /* make up for line-height increase */
}

.date, .footer, .return_to_index {
  font-family: "PT Sans", sans-serif;
  font-size: 90%;
  color: #ababab;
}

hr.footer {
  margin-top: 5%;
}

/* Code */
code, pre {
  font-family: monospace;
  font-size: 10pt;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  padding: 2px 3px 2px 3px;
}

pre {
  line-height: 150%;
  padding: 7px 7px 7px 7px;
  border-color: #cccccc;
}

pre > code {
  border: none;
  padding: 0px 0px 0px 0px;
}

/* Links */
a:link {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: tan;
}

a:hover {
  color: darkred;
  text-decoration: underline;
}

/* Math */
span.math {
  font-size: 10.5pt;
}

/* Blockquote */
blockquote {
  font-style: italic;
  color: gray;
}
