<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Site info -->
        <title>Brian Buccola · $title$</title>
        $if(description)$<meta name="description" content="$description$">$endif$

        <!-- Styling -->
        <link rel="stylesheet" href="/css/default.css">
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Feeds -->
        <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Brian Buccola">
        <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="Brian Buccola">

        <!-- MathJax -->
        <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
        </script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-DF5QFQ8LQW"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-DF5QFQ8LQW');
        </script>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">Brian Buccola</a>
            </div>
            <nav class="nav">
                <a class="nav" href="/">Home</a>
                <a class="nav" href="/work/">Work</a>
                <a class="nav" href="/teaching/">Teaching</a>
                <a class="nav" href="/cv/">CV</a>
                <a class="nav" href="/contact/">Contact</a>
                <a class="nav" href="/blog/">Blog</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
        </footer>
    </body>
</html>
